body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f5f7; /* Fondo suave y claro */
    color: #4a4a4a; /* Color de texto gris oscuro */
}

h1, h2 {
    color: #B05280; /* Color suave para títulos */
    text-align: center;
    /* Aplicar neumorfismo a los títulos (opcional) */
    box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.5), 
                -2px -2px 5px rgba(255, 255, 255, 0.9);
    border-radius: 8px; /* Bordes redondeados para mejorar el efecto */
    padding: 10px; /* Espaciado para mejorar el efecto visual */
}

p {
    text-align: center;
    color: #FFFFFF; /* Blanco */
    background-color: #B05280; /* Color suave */
    padding: 10px; /* Añadir espacio */
    border-radius: 5px; /* Bordes redondeados */
    max-width: 80%; /* Limitar el ancho al 80% */
    margin: auto; /* Centrar el elemento */
    box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.5), 
                -2px -2px 5px rgba(255, 255, 255, 0.9); /* Efecto neumórfico */
}
p:hover {
    box-shadow: 2px 2px 10px rgba(200, 200, 200, 0.5), 
                -2px -2px 10px rgba(255, 255, 255, 0.9), 
                5px 5px 15px rgba(200, 200, 200, 0.3), 
                -5px -5px 15px rgba(255, 255, 255, 0.8);
}

form {
    margin: 20px auto;
    padding: 15px;
    background-color: #FEE2E5; /* Rosa pálido */
    border-radius: 8px;
    width: 80%;
    box-shadow: 5px 5px 15px rgba(200, 200, 200, 0.5), 
                -5px -5px 15px rgba(255, 255, 255, 0.9); /* Efecto neumórfico */
}
form:hover {
    box-shadow: 2px 2px 10px rgba(200, 200, 200, 0.5), 
                -2px -2px 10px rgba(255, 255, 255, 0.9), 
                5px 5px 15px rgba(200, 200, 200, 0.3), 
                -5px -5px 15px rgba(255, 255, 255, 0.8);
}

input[type="file"] {
    padding: 20px;
    border: 2px solid #D19BB0; /* Color rosa suave */
    border-radius: 4px;
    width: calc(100% - 24px);
    box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.5), 
                -2px -2px 5px rgba(255, 255, 255, 0.9); /* Efecto neumórfico */
}

button {
    background-color: #e0e0e0;
    border-radius: 50px;
    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 40px;
    transition: all 0.2s ease-in-out;
    border: 2px solid rgb(206, 206, 206);
    margin-top: 10px; /* Ajusta este valor según lo necesites */
}

button:hover {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

button:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}


.data-table, .summary-table {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #D19BB0; /* Color rosa suave */
    border-radius: 8px;
    background-color: #ffffff; /* Fondo blanco para las tablas */
    width: 80%;
    box-shadow: 5px 5px 15px rgba(200, 200, 200, 0.5), 
                -5px -5px 15px rgba(255, 255, 255, 0.9); /* Efecto neumórfico */
}

.data-table table, .summary-table table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th, .summary-table th,
.data-table td, .summary-table td {
    border: 1px solid #FFB6C1; /* Rosa suave para los bordes de la tabla */
    padding: 12px;
    text-align: left;
}

.data-table th, .summary-table th {
    background-color: #FFB6C1; /* Rosa suave para encabezados */
    color: white;
}

.data-table tr:nth-child(even), .summary-table tr:nth-child(even) {
    background-color: #F7E9ED; /* Color de fondo rosa claro para filas pares */
}

.data-table:hover, .summary-table:hover {
    box-shadow: 2px 2px 10px rgba(200, 200, 200, 0.5), 
                -2px -2px 10px rgba(255, 255, 255, 0.9), 
                5px 5px 15px rgba(200, 200, 200, 0.3), 
                -5px -5px 15px rgba(255, 255, 255, 0.8);
}

.summary-table {
    margin-top: 20px;
}

.summary-table th {
    font-weight: bold;
    font-size: 16px;
}

.summary-table td {
    color: #5D4C5E; /* Color gris para los datos */
    font-size: 14px;
}

img {
    display: block;
    margin: 20px auto; /* Ajustar el margen para centrar */
    width: 80%; 
    max-width: 100%;
    height: auto;
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 5px 5px 15px rgba(200, 200, 200, 0.5), 
                -5px -5px 15px rgba(255, 255, 255, 0.9); /* Efecto neumórfico */
    transition: all 0.3s ease; /* Transición suave */
}

img:hover {
    box-shadow: 2px 2px 10px rgba(200, 200, 200, 0.5), 
                -2px -2px 10px rgba(255, 255, 255, 0.9), 
                5px 5px 15px rgba(200, 200, 200, 0.3), 
                -5px -5px 15px rgba(255, 255, 255, 0.8); /* Cambios en hover */
}
